<h2 class="screen-align">Createdemo</h2>
<div id="template-ivk5" class="row">
    <div id="template-i81s" class="cell">
        <label id="template-ilqf" class="label">name</label>
        <input id="template-ihc4" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-ishh" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-ijtb" class="cell">
        <label id="template-ibq5" class="label">email</label>
        <input id="template-i9fc" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
</div>